<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.newslistservice.mapper.NewsMapper">

    <insert id="insertNews" parameterType="com.example.newslistservice.domain.News">
        INSERT INTO board (title, content, author_id, img)
        VALUES (#{title}, #{content}, #{authorId}, #{img})
    </insert>

    <resultMap id="newsResultMap" type="com.example.newslistservice.dto.ListNewsDTO">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="authorId" column="author_id"/>
        <!-- LocalDateTime으로 매핑 -->
        <result property="createdAt" column="created_at" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <resultMap id="newsDetailResultMap" type="com.example.newslistservice.dto.DetailNewsDTO">
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="img" column="img"/>
    </resultMap>


    <select id="selectNewsList" resultMap="newsResultMap">
        SELECT id,title, author_id, created_at
        FROM board
        ORDER BY id DESC
    </select>

    <select id="selectNewsById" resultType="com.example.newslistservice.dto.DetailNewsDTO" parameterType="Long">
        SELECT
            title, content, img
        FROM board
        WHERE
            id = #{id}
    </select>


    <delete id="deleteByIds">
        DELETE FROM board WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateNews" parameterType="com.example.newslistservice.domain.News">
        UPDATE board
        SET
            title = #{title},
            content = #{content},
            author_id = #{authorId},
            img = #{img}
        WHERE id = #{id}
    </update>

</mapper>
